{% extends 'troisWAAdminBundle::layout.html.twig' %}

{% block title %}
    {{  parent()}}
    Tableau de bord
{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Date</th>
            </tr>
        </thead>

        <tbody>
        {% for article in articlesList %}
        <tr>
            <td>{{ article.articleId }}</td>
            <td>{{ article.articleTitle }}</td>
            <td>{{ article.articleDate|date('d/m/Y') }}</td>
            <td><a href={{ path('twa_ab_article_edit', { 'articleId': article.articleId }) }}>Modifier</a></td>
            <td><a href="{{  path('twa_ab_article_delete', { 'articleId': article.articleId }) }}">Supprimer</a></td>
        </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun article</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
